<ion-view title="Agregar contactos " id="page18">
  <ion-content padding="true" class="has-header">
    <h3 style="text-align: center;">
      <span style="color: #3366ff;">¿Cómo agrego un contacto? </span>
    </h3>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/hVGrbDTSK2nydqwJ2XwA_56.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4>Apretamos el botón que vemos seleccionado en la imágen.</h4>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/g4X0eoipRBGQ7B2vxhPF_57.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4>Presionamos donde dice nuevo contacto como se ve en la imágen.</h4>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/09IBD1KdRseWJykA2OUv_58.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4>Apretamos donde dice Nombre para colocar el nombre y donde dice Número para colocar el número. Apretamos guardar ¡Y listo!</h4>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="agregarContactos-button-bar13" class="button-bar">
      <a ui-sref="tabsController.llamadasYVideollamadas()" id="agregarContactos-button97" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.enviarContenidosEnWhatsApp()" id="agregarContactos-button98" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/A0lbUTqETxWDG8dnpZnB_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>