<ion-view title="Buscar en Google" id="page20">
  <ion-content padding="true" class="has-header">
    <h3 style="text-align: center;">
      <span style="color: #3366ff;">¿Cómo busco algo en Google? </span>
    </h3>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/URfdY5GTRQiDzOGQeRo1_35.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>Buscamos el botón del&nbsp;buscador Google&nbsp;al ingresar tendremos&nbsp;la pantalla que vemos&nbsp;en la imágen.</h4>
      <h4>Apretamos en la franja&nbsp;que está marcada en la&nbsp;imágen, se nos va a&nbsp;abrir el teclado y&nbsp;escribimos lo que&nbsp;necesitamos buscar.</h4>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/lEE1QuF1Q5SyXgxyUVB2_36.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4>Una vez que&nbsp;escribimos lo que&nbsp;deseamos buscar&nbsp;apretamos en el&nbsp;ícono/dibujo con&nbsp;forma de lupa que&nbsp;está marcado en&nbsp;la imágen, para que&nbsp;el buscador pueda&nbsp;hacer su trabajo.</h4>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/69uVGUG5SQ2y9ZvGPyLP_37.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>Una vez que el buscador hizo su trabajo, nos ofrecerá una lista con distintos resultados de la búsqueda.</h4>
      <h4>Allí podemos ir apretando en las letras azules para poder ver información de lo que buscamos.</h4>
      <h4>Pueden ser textos, videos imágenes, etc.</h4>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div id="buscarEnGoogle-button-bar15" class="button-bar">
      <a ui-sref="tabsController.google()" id="buscarEnGoogle-button59" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.whatsApp()" id="buscarEnGoogle-button60" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/A0lbUTqETxWDG8dnpZnB_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>