<ion-view title="Conectarse al mundo de Internet" id="page22">
  <ion-content padding="true" class="has-header">
    <h3 style="text-align: center;">
      <span style="color: #3366ff;">Conectarse al mundo de Internet</span>
    </h3>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>Todos hablamos de internet y vivimos en internet. Algunas características que la definen, es que "la red" como muchos la conocen, es:</h4>
      <h4>
        <br>
        <span style="color: #3366ff;">
          <strong>Universal:</strong>
        </span>
      </h4>
      <hr>
      <h4>Existe en todo el mundo. Desde cualquier país podemos ver información generada en los demás paises, enviar correo, transferir archivos, comprar, etc.</h4>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #3366ff;">
          <strong>Fácil de Usar:</strong>
        </span>
      </h4>
      <hr>
      <h4>No es necesario saber informática para usar internet. Podríamos decir que usar internet es tan sencillo como pasar las hojas de un libro. Cualquier persona debe ser capaz de navegar por un sitio web, y si no es así es porque el sitio web está mal
        diseñado. Esta facilidad de uso hace que internet sea adecuada para enseñar a cualquier tipo de personas desde niños a personas mayores, y se puedan hacer tareas muy diversas desde jugar hasta aprender matemáticas.</h4>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #3366ff;">
          <strong>Variada:</strong>
        </span>
      </h4>
      <hr>
      <h4>En internet se puede encontrar casi de todo, y si hay algo útil que falte, el que se dé cuenta se hará rico.</h4>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #3366ff;">
          <strong>Útil:</strong>
        </span>
      </h4>
      <hr>
      <h4>Disponer de mucha información y servicios rápidamente accesibles es, sin duda, algo útil, Hay muchos ejemplos sobre cosas que son más fáciles a través de Internet: aprender, comprar, vender, hablar y mil cosas más.</h4>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="conectarseAlMundoDeInternet-button-bar17" class="button-bar">
      <a ui-sref="tabsController.playStore()" id="conectarseAlMundoDeInternet-button64" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.navegadores()" id="conectarseAlMundoDeInternet-button66" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/A0lbUTqETxWDG8dnpZnB_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>