<ion-view title="Correo electrónico" id="page55">
  <ion-content padding="true" class="has-header">
    <h3 style="text-align: center;">
      <span style="color: #3366ff;">Como crear una cuenta de correo </span>
    </h3>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>Usar una cuenta de correo electrónico sirve para recibir notificaciones o artículas de revistas, enviar correos e inscribirnos en sitios web de nuestro interés,&nbsp; por ejemplo.</h4>
      <h4>El más usado y que generalmente tenemos instalado para usar en nuestro celular es Gmail.</h4>
      <h4>
        <span style="color: #3366ff;">&nbsp;</span>
      </h4>
      <h4 style="text-align: left;">
        <span style="color: #3366ff;">
          <strong>¿Cómo crear una cuenta de Gmail? </strong>
        </span>
      </h4>
      <h4 style="text-align: left;">Para crear una cuenta de Gmail es recomendable usar una computadora para mayor seguridad y facilidad al momento de crearlo.</h4>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/SBSJscymSACWLKanAx8x_96.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <h4>Abrimos el navegador de internet que tengamos en nuestra computadora y desde&nbsp;Google buscamos Gmail de la misma forma que aprendimos en celulares.</h4>
      <h4>Una vez que la página cargue por completo apretamos el botón que dice Crear cuenta (botón selecionado en La imagen) y pasamos al siguiente paso.</h4>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/XAmRaaFpQLOp89ncpclK_97.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4>Se nos abrirá esta pantalla donde con el mouse debemos clickear en las barras que nos piden ciertos datos, y escribirlos con el teclado. Apretamos el botón que dice Siguiente y nos pedirá otros datos más, como sexo y fecha de nacimiento.</h4>
    <div
      class="spacer" style="height: 20px;"></div>
      <div style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/PGp0CEEuStuECE8uZdX1_98.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div>
        <h4>Una vez que terminemos de llenar todos nuestros datos, debemos aceptar los Términos de Privacidad y Condiciones de Gmail.</h4>
        <h4>Para esto debemos apretar donde dice Acepto.</h4>
        <h4>Ahora si finalizamos, ya tenemos nuestra cuenta de correo electrónico en Gmail.</h4>
      </div>
      <div class="spacer" style="height: 30px;"></div>
      <a href-inappbrowser="https://play.google.com/store/apps/details?id=com.google.android.gm" id="correoElectrNico-button107" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-block icon ion-ios-email"> Ir a Gmail</a>
      <div class="spacer" style="height: 20px;"></div>
      <div id="correoElectrNico-button-bar50" class="button-bar">
        <a ui-sref="tabsController.seguridadEnFacebook()" id="correoElectrNico-button164" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
        <a ui-sref="tabsController.redactarYEnviarUnCorreo()" id="correoElectrNico-button165" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <div style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/A0lbUTqETxWDG8dnpZnB_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
  </ion-content>
</ion-view>