<ion-view title="Indice" id="page3" style="background-color:#387EF5;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/PgGSsLMwQmWx5PlXnumw_Indice.png" style="display: block; width: 62%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="indice-list12">
      <ion-item class="item-icon-left calm" id="indice-list-item4" ui-sref="tabsController.presentaciN()">
        <i class="icon ion-compose"></i>Presentación</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list2">
      <ion-item class="item-icon-left calm" id="indice-list-item5" ui-sref="tabsController.miTelFonoInteligente()">
        <i class="icon ion-android-phone-portrait"></i>Mi teléfono inteligente</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item11" ui-sref="tabsController.QuSonLasAplicaciones()">
        <i class="icon ion-android-phone-portrait"></i>¿Qué son las aplicaciones?</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list14">
      <ion-item class="item-icon-left calm" id="indice-list-item12" ui-sref="tabsController.menDeConfiguraciN()">
        <i class="icon ion-android-settings"></i>Menú de configuración</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item10" ui-sref="tabsController.QuPuedoModificar()">
        <i class="icon ion-android-settings"></i>¿Qué puedo modificar?</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list11">
      <ion-item class="item-icon-left calm" id="indice-list-item9" ui-sref="tabsController.internetWiFi()">
        <i class="icon ion-wifi"></i>Internet: Conexión por red Wi-Fi</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item38" ui-sref="tabsController.internetDatosMViles()">
        <i class="icon ion-wifi"></i>Internet: Conexión por Datos Móviles</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list10">
      <ion-item class="item-icon-left calm" id="indice-list-item6" ui-sref="tabsController.aplicaciones()">
        <i class="icon ion-social-android"></i>Aplicaciones</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item7" ui-sref="tabsController.nuevasAplicaciones()">
        <i class="icon ion-social-android"></i>Descargar de nuevas Aplicaciones</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item45" ui-sref="tabsController.playStore()">
        <i class="icon ion-social-android"></i>¿Qué es Google Play Store? </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list9">
      <ion-item class="item-icon-left calm" id="indice-list-item8" ui-sref="tabsController.conectarseAlMundoDeInternet()">
        <i class="icon ion-social-chrome"></i>Conectarse al mundo de Internet</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item17" ui-sref="tabsController.navegadores()">
        <i class="icon ion-social-chrome"></i>Los Navegadores</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list8">
      <ion-item class="item-icon-left calm" id="indice-list-item15" ui-sref="tabsController.google()">
        <i class="icon ion-social-google"></i>Los buscadores: Google</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item40" ui-sref="tabsController.buscarEnGoogle()">
        <i class="icon ion-social-google"></i>¿Cómo busco algo en Google?</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list7">
      <ion-item class="item-icon-left calm" id="indice-list-item16" ui-sref="tabsController.whatsApp()">
        <i class="icon ion-social-whatsapp-outline"></i>Comunicarse con amigos: WhatsApp</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item39" ui-sref="tabsController.ParaQuSirveWhatsApp()">
        <i class="icon ion-social-whatsapp-outline"></i>¿Para qué sirve WhatsApp? </ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item13" ui-sref="tabsController.CMoFuncionaWhatsApp()">
        <i class="icon ion-social-whatsapp-outline"></i>¿Cómo funciona WhatsApp?</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item14" ui-sref="tabsController.enviarContenidosEnWhatsApp()">
        <i class="icon ion-social-whatsapp-outline"></i>¿Cómo envío un mensaje?</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item18" ui-sref="tabsController.paraTenerEnCuentaEnWhatsApp()">
        <i class="icon ion-social-whatsapp-outline"></i>¿Qué debemos tener en cuenta? </ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item41" ui-sref="tabsController.llamadasYVideollamadas()">
        <i class="icon ion-social-whatsapp-outline"></i>Llamadas y Videollamadas</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item19" ui-sref="tabsController.agregarContactos()">
        <i class="icon ion-social-whatsapp-outline"></i>¿Cómo agrego un contacto? </ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item20" ui-sref="tabsController.enviarContenidosEnWhatsApp()">
        <i class="icon ion-social-whatsapp-outline"></i>¿Cómo envío fotos, videos, etc?</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item21" ui-sref="tabsController.alertasEngaOsYEstafas()">
        <i class="icon ion-social-whatsapp-outline"></i>Alertas: engaños y estafas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list5">
      <ion-item class="item-icon-left calm" id="indice-list-item22" ui-sref="tabsController.redesSociales()">
        <i class="icon ion-android-contacts"></i>¿Qué son las redes sociales? </ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item23" ui-sref="tabsController.twitter()">
        <i class="icon ion-social-twitter"></i>Twitter</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item24" ui-sref="tabsController.facebook()">
        <i class="icon ion-social-facebook"></i>Facebook</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item26" ui-sref="tabsController.youtube()">
        <i class="icon ion-social-youtube"></i>Youtube</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list4">
      <ion-item class="item-icon-left calm" id="indice-list-item25" ui-sref="tabsController.crearUnaCuentaEnFacebook()">
        <i class="icon ion-social-facebook-outline"></i>Crear una cuenta en Facebook</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item27" ui-sref="tabsController.subirYEtiquetarUnaFoto()">
        <i class="icon ion-social-facebook-outline"></i>Subir una foto y etiqueto a un amigo</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item29" ui-sref="tabsController.publicacionesEnFacebook()">
        <i class="icon ion-social-facebook-outline"></i>Hacer una publicación</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item28" ui-sref="tabsController.informaciNQueNoDebesCompartir()">
        <i class="icon ion-social-facebook-outline"></i>¿Qué información no se debe compartir? </ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item30" ui-sref="tabsController.seguridadEnFacebook()">
        <i class="icon ion-social-facebook-outline"></i>Configurar la seguridad en Facebook</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list3">
      <ion-item class="item-icon-left calm" id="indice-list-item31" ui-sref="tabsController.correoElectrNico()">
        <i class="icon ion-ios-email-outline"></i>Correo electrónico: Crear una Cuenta</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item34" ui-sref="tabsController.redactarYEnviarUnCorreo()">
        <i class="icon ion-ios-email-outline"></i>Redactar y enviar un correo electrónico</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item35" ui-sref="tabsController.contraseAs()">
        <i class="icon ion-ios-email-outline"></i>Contraseñas</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item33" ui-sref="tabsController.aplicaciNDeGmail()">
        <i class="icon ion-ios-email-outline"></i>Menú de la aplicación de Gmail</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item37" ui-sref="tabsController.protecciNParaNuestroCorreo()">
        <i class="icon ion-ios-email-outline"></i>Protección para nuestro correo electrónico</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>