<ion-view title="Play Store" id="page14">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/VSyXrRSRdCB1ZzzQgmre_31.jpg" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>Google Play Store es La tienda online desarrollada y gestionada por Google. Bien podemos llamarla la gran tienda de Google, o el supermercado de Google.</h4>
      <h4>Es la más popular y la encontrás en casi todos los dispositivos. Te ofrece La posibilidad de descargar aplicaciones, juegos, Libros, películas, música o revistas. Dentro del supermercado de Google, podés ingresar a distintos sectores o "góndolas"
        e ir eligiendo qué descargar o comprar.</h4>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/qfehEzR2SkijsUD0KmeK_32.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <a href-inappbrowser="https://play.google.com/store" id="playStore-button102" style="border-radius:50px 50px 50px 50px;" class="button button-assertive button-block icon ion-android-playstore"> Ir a Play Store</a>
    <div class="spacer" style="height: 20px;"></div>
    <div id="playStore-button-bar10" class="button-bar">
      <a ui-sref="tabsController.nuevasAplicaciones()" id="playStore-button46" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.conectarseAlMundoDeInternet()" id="playStore-button44" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/A0lbUTqETxWDG8dnpZnB_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>