<ion-view title="Redes Sociales" id="page29">
  <ion-content padding="true" class="has-header">
    <h3 style="text-align: center;">
      <span style="color: #3366ff;">¿Qué son las redes sociales? </span>
    </h3>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>Las redes sociales son sitios de internet formados por comunidades virtuales de personas con intereses o actividades en común (como amistad, parentesco, trabajo) nos permiten contactarnos e intercambiar información de manera virtual.</h4>
      <h4>El uso de redes sociales tiene muchos beneficios como por ejemplo, contactar con gente que está lejos, conocer gente nueva, compartir archivos de manera sencilla (documentos, música, fotografías, entre otros). No obstante, también existe un aspecto
        negativo, que radica en la falta de privacidad, ya que cada archivo o publicación de los usuarios puede caer en manos de personas con fines desconocidos.</h4>
    </div>
    <div>
      <img src="img/mfjwkxOTSBytpZ4oRGtQ_67.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="redesSociales-button-bar24" class="button-bar">
      <a ui-sref="tabsController.alertasEngaOsYEstafas()" id="redesSociales-button86" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.twitter()" id="redesSociales-button87" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/A0lbUTqETxWDG8dnpZnB_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>